<% layout("layouts/boilerplate") %>
  
    <form action="/" method="POST">
        <div class="container text-center">
            <div class="col">
                <h1 class="display-1 my-3">Enter Number Range!</h1>
                <div class="display-6 my-5">
                    <label for="range1">Enter your starting number: </label>
                    <input type="number" name="range1" id="range1">
                </div>
                <div class="display-6 my-5">
                    <label for="range2">Enter your last number: </label>
                    <input type="number" name="range2" id="range2">
                </div>
                <button class="btn btn-success btn-lg">Generate</button>
            </div>
        </div>
    </form>